<!doctype html>
<html lang="en">
<head>
    <link href="/Upload/groupPic/favicon.ico" rel="shortcut icon">
    <title>{:C('TITLE')}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="__PUBLIC_HIS__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC_HIS__/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC_HIS__/vendor/linearicons/style.css">
    <link rel="stylesheet" href="__PUBLIC_HIS__/vendor/chartist/css/chartist-custom.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="__PUBLIC_HIS__/css/main.css?{:time()}">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="__PUBLIC_HIS__/css/demo.css?{:time()}">
    <!-- public -->
    <link rel="stylesheet" href="__PUBLIC_HIS__/css/public.css?{:time()}">

    <!-- ICONS >
    <link rel="apple-touch-icon" sizes="76x76" href="__PUBLIC_HIS__/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="__PUBLIC_ROBOT__/img/favicon.png"-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC_HIS__/vendor/datetimepicker/jquery.datetimepicker.css"/>

    <script src="__PUBLIC_HIS__/vendor/jquery/jquery.min.js"></script>
    <script src="__PUBLIC_HIS__/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC_HIS__/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__PUBLIC_HIS__/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="__PUBLIC_HIS__/vendor/chartist/js/chartist.min.js"></script>
    <script src="__PUBLIC_HIS__/scripts/klorofil-common.js"></script>
    <script src="__PUBLIC_HIS__/vendor/datetimepicker/jquery.datetimepicker.js"></script>
    <script src="__PUBLIC_HIS__/js/public.js?{:time()}"></script>
    <script src="__PUBLIC_HIS__/js/check.form.js?{:time()}"></script>
    <script src="__PUBLIC_HIS__/vendor/layer/layer.js"></script>
    <!--<script src="__PUBLIC_HIS__/js/echarts.min.js"></script>-->


</head>
<body>


<!-- WRAPPER -->
    {__CONTENT__}
<!-- END WRAPPER -->

<script type="text/javascript">
    if(parent.endLoad){
        parent.endLoad();
    }
</script>
</body>
</html>

